* {
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  background-color: white;
}

h2,
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: auto;
  width: 600px;
  height: 450px;
  line-height: 24px;
  border-radius: 10px;
  padding: 10px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 15px;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

button,
input {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.bookcards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-sizing: border-box;
  text-align: center;

  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
